<template>
  <div id="about">
    <Logo class="logo"></Logo>
    <p>{{ about }}</p>
  </div>
</template>

<script>
import about_data from "../data/about.js";
import Logo from "./Logo.vue";

export default {
  name: "About",
  data() {
    return {
      about: about_data[0],
    };
  },
  components: {
    Logo,
  },
};
</script>

<style scoped>
#about {
  color: black;
  word-spacing: 1px;
  white-space: pre-line;
  line-height: 1.5;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 7vw;
  margin-right: 7%;
  margin-left: 7%;
}

.logo {
  height: 400px;
  padding-top: 30px;
  padding-bottom: 20px;
}

@media (max-width: 1000px) {
  #about {
    flex-direction: column;
  }
  .logo {
    height: 280px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
</style>
