<template>
  <div class="banner">
    <div class="buttons">
      <a href="#home"
        ><Button
          class="button"
          v-on:click="mutate_page('Home')"
          button_name="Home"
      /></a>
      <a href="#portfolio"
        ><Button
          class="button"
          v-on:click="mutate_page('Portfolio')"
          button_name="Portfolio"
      /></a>
      <a href="#resume"
        ><Button class="button" v-on:click="mutate_page('CV')" button_name="CV"
      /></a>
      <a href="#about"
        ><Button
          class="button"
          v-on:click="mutate_page('À propos')"
          button_name="À propos"
      /></a>
      <a href="#contacts"
        ><Button
          class="button"
          v-on:click="mutate_page('Contact')"
          button_name="Contact"
      /></a>
    </div>
  </div>
</template>

<script>
import Button from "./Button.vue";

export default {
  name: "Banner",
  components: {
    Button,
  },
  methods: {
    mutate_page: function (page) {
      this.$store.commit("mutate_page", page);
    },
  },
};
</script>

<style scoped>
.banner {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 5px;
}

.button {
  background-color: white;
  font-size: 20px;
  padding-right: 25px;
}

button:hover {
  color: red;
}

.buttons {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 1000px) {
  .button {
    font-size: 17px;
    padding-right: 16px;
  }
}
</style>
