<template>
  <button>{{ button_name }}</button>
</template>

<script>
export default {
  name: "Button",
  props: {
    button_name: { type: String, required: true },
  },
};
</script>

<style scoped>
button {
  background: rgb(230, 3, 3);
  border: none;
}

button:hover {
  cursor: pointer;
}
</style>
