<template>
  <div id="categories">
    <a href="#Programmation"
      ><Button
        class="button"
        v-on:click="mutate_page('Programmation')"
        button_name="Programmation"
    /></a>
    <a href="#Dessin"
      ><Button
        class="button"
        v-on:click="mutate_page('Dessin')"
        button_name="Dessin"
    /></a>
    <a href="#3D"
      ><Button class="button" v-on:click="mutate_page('3D')" button_name="3D"
    /></a>
    <a href="#Audiovisuel"
      ><Button
        class="button"
        v-on:click="mutate_page('Audiovisuel')"
        button_name="Audiovisuel"
    /></a>
    <a href="#Animation"
      ><Button
        class="button"
        v-on:click="mutate_page('Animation')"
        button_name="Animation"
    /></a>
    <a href="#Installation Immersive"
      ><Button
        class="button"
        v-on:click="mutate_page('Installation Immersive')"
        button_name="Installation Immersive"
    /></a>
    <a href="#Autres"
      ><Button
        class="button"
        v-on:click="mutate_page('Autres')"
        button_name="Autres"
    /></a>
  </div>
</template>

<script>
import Button from "./Button.vue";

export default {
  name: "Categories",
  components: {
    Button,
  },
  methods: {
    mutate_page: function (page) {
      this.$store.commit("mutate_page", page);
    },
  },
};
</script>

<style scoped>
#categories {
  padding-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button {
  color: white;
  border-radius: 50%;
  margin: 20px 30px 40px 20px;
  font-size: 1.7rem;
  background-color: rgb(230, 3, 3);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-weight: 550;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 230px;
  height: 230px;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:focus {
  outline: 0;
}

.button:after {
  content: "";
  position: absolute;
  border: 3px solid #000000;
  border-radius: 50%;
  top: -8px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
}

.button:hover:after {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}
</style>
