<template>
  <div id="contacts_back">
    <div class="contacts">
      <div class="perso">
        <Contact
          image="tel.png"
          description="téléphone"
          link="tel:+617541112"
          link_name="06 17 54 11 12"
        />
        <Contact
          image="tutanota.png"
          description="mail"
          link="mailto:anaissaratgougne@tutanota.com"
          link_name="anaissaratgougne@tutanota.com"
        />
        <Contact
          image="linkdin.png"
          description="linkedin"
          link="https://l.messenger.com/l.php?u=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fana%25C3%25AFs-gougne-10b07b226&h=AT0hKhifskQimWfj-A3XfNFY-O4Ys25g62vZVIj-vS-GXjGPOm3YYsxqFrzQjovYSmLj56YQxoGe1HIFdrr1RArR_HrnjjLATrg14ba7Fry_OErrvwDOreOjDeJS4w"
          link_name="Anaïs Gougne"
        />
      </div>

      <div class="art">
        <Contact
          image="facebook.png"
          description="page Facebook"
          link="https://www.facebook.com/TaliaKahdessin"
          link_name="@TaliaKahdessin"
        />
        <Contact
          image="insta.png"
          description="instagram artiste"
          link="https://www.instagram.com/talia_kah"
          link_name="@talia_kah"
        />
        <Contact
          image="protonmail_noir.svg"
          description="mail micro-entreprise"
          link="mailto:taliakah@protonmail.com"
          link_name="taliakah@protonmail.com"
        />
      </div>
      <div class="computer">
        <Contact
          image="gitlab.png"
          description="GitLab"
          link="https://gitlab.com/TaliaKah"
          link_name="@TaliaKah"
        />
        <Contact
          image="github.png"
          description="GitHub"
          link="https://github.com/TaliaKah"
          link_name="@TaliaKah"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Contact from "./Contact.vue";

export default {
  name: "Contacts",
  components: {
    Contact,
  },
};
</script>

<style scoped>
.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5%;
}

@media (max-width: 1000px) {
  .contacts {
    flex-direction: column;
    padding-top: 50px;
  }
}
</style>
