<template>
  <div class="contact">
    <img :src="path(image)" :alt="description" />
    <a :href="link">{{ link_name }}</a>
  </div>
</template>

<script>
export default {
  name: "Contact",
  props: {
    link: { type: String, required: true },
    link_name: { type: String, required: false },
    image: { type: String, required: true },
    description: { type: String, required: true },
  },
  methods: {
    path: function (image) {
      return require("../assets/Contact/" + image);
    },
  },
};
</script>

<style scoped>
.contact {
  display: flex;
  align-items: center;
  column-gap: 30px;
  padding: 15px;
  padding-bottom: 30px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 30px;
}

img {
  height: 40px;
  width: 40px;
}
@media (max-width: 1000px) {
  a {
    font-size: 18px;
  }
  .contact {
    padding: 8px;
  }
}
</style>
