<template>
  <Banner />
  <hr size="8" width="20%" color="red" />
  <div id="contacts">
    <Contact
      class="contact"
      image="tel.png"
      description="téléphone"
      link="tel:+617541112"
    />
    <Contact
      class="contact"
      image="tutanota.png"
      description="mail"
      link="mailto:anaissaratgougne@tutanota.com"
    />
    <Contact
      class="contact"
      image="protonmail_noir.svg"
      description="mail micro-entreprise"
      link="mailto:taliakah@protonmail.com"
    /><Contact
      class="contact"
      image="gitlab.png"
      description="GitLab"
      link="https://gitlab.com/TaliaKah"
    />
    <Contact
      class="contact"
      image="github.png"
      description="GitHub"
      link="https://github.com/TaliaKah"
    />
    <Contact
      class="contact"
      image="linkdin.png"
      description="linkedin"
      link="https://l.messenger.com/l.php?u=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fana%25C3%25AFs-gougne-10b07b226&h=AT0hKhifskQimWfj-A3XfNFY-O4Ys25g62vZVIj-vS-GXjGPOm3YYsxqFrzQjovYSmLj56YQxoGe1HIFdrr1RArR_HrnjjLATrg14ba7Fry_OErrvwDOreOjDeJS4w"
    />
    <Contact
      class="contact"
      image="facebook.png"
      description="page Facebook"
      link="https://www.facebook.com/TaliaKahdessin"
    />
    <Contact
      class="contact"
      image="insta.png"
      description="instagram artiste"
      link="https://www.instagram.com/talia_kah"
    />
  </div>
</template>

<script>
import Banner from "./Banner.vue";
import Contact from "./Contact.vue";

export default {
  name: "Footer",
  components: {
    Banner,
    Contact,
  },
};
</script>

<style scoped>
#contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.contact {
  transition: transform 0.1s;
}
.contact:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}
</style>
