<template>
  <div id="home">
    <div class="artist_name">
      <Name class="red" artist_name="Talia'Kah" />
      <Name class="black" artist_name="Anaïs Sarata Gougne" />
    </div>
    <Logo class="logo"></Logo>
  </div>
</template>

<script>
import Name from "./Name.vue";
import Logo from "./Logo.vue";

export default {
  name: "Home",
  components: {
    Name,
    Logo,
  },
};
</script>

<style scoped>
#home {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 490px;
}
.artist_name {
  display: flex;
  flex-direction: column;
  margin-right: 7%;
}

.black {
  color: black;
}
.red {
  color: red;
}

@media (max-width: 1000px) {
  #home {
    padding-top: 60px;
    flex-direction: column;
  }
  .artist_name {
    margin-right: 0%;
  }
  .logo {
    padding-top: 45px;
    height: 320px;
  }
}
</style>
