<template>
  <div class="artist_name">{{ artist_name }}</div>
</template>

<script>
export default {
  name: "Name",
  props: {
    artist_name: { type: String, required: true },
  },
};
</script>

<style scoped>
.artist_name {
  font-family: "Aladin", Arial, Helvetica, sans-serif;
  font-size: 125px;
  text-align: center;
}

@media (max-width: 1000px) {
  .artist_name {
    font-size: 75px;
  }
}
</style>
