<template>
  <div id="portfolio">
    <RandomProjects v-if="is_page('Portfolio')" :projects="projects" />
    <Categories />
    <Projects
      id="Dessin"
      v-if="is_page('Dessin')"
      v-bind:projects="projects['Dessin']"
    />
    <Projects id="3D" v-if="is_page('3D')" v-bind:projects="projects['3D']" />
    <Projects
      id="Programmation"
      v-if="is_page('Programmation')"
      v-bind:projects="projects['Programmation']"
    />
    <Projects
      id="Audiovisuel"
      v-if="is_page('Audiovisuel')"
      v-bind:projects="projects['Audiovisuel']"
    />
    <Projects
      id="Animation"
      v-if="is_page('Animation')"
      v-bind:projects="projects['Animation']"
    />
    <Projects
      id="Installation Immersive"
      v-if="is_page('Installation Immersive')"
      v-bind:projects="projects['Installation Immersive']"
    />
    <Projects
      id="Autres"
      v-if="is_page('Autres')"
      v-bind:projects="projects['Autres']"
    />
  </div>
</template>

<script>
import projects_data from "../data/projects.js";
import RandomProjects from "./RandomProjects.vue";
import Categories from "./Categories.vue";
import Projects from "./Projects.vue";

export default {
  name: "Portfolio",
  data() {
    return {
      projects: projects_data,
    };
  },
  components: {
    RandomProjects,
    Categories,
    Projects,
  },
  methods: {
    is_page: function (page) {
      return this.$store.state.page == page;
    },
  },
};
</script>
