<template>
  <div class="project_description">
    <img
      class="standard image"
      v-if="project.image"
      v-bind:src="path(project.image)"
    />
    <div class="standard image" v-if="project.images">
      <img
        class="small"
        v-for="img in project.images"
        :key="img.id"
        v-bind:src="path(img)"
      />
    </div>
    <iframe
      class="video"
      v-if="project.video_link"
      v-bind:src="project.video_link"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <video class="video" v-if="project.video" controls>
      <source v-bind:src="path(project.video)" type="video/mp4" />
    </video>
    <audio class="standard" v-if="project.sound" controls>
      <source v-bind:src="path(project.sound)" type="audio/mpeg" />
    </audio>

    <div class="informations">
      <p class="context">{{ project.context }}</p>
      <a v-if="project.game_link" v-bind:href="project.game_link" class="link"
        >Jouer à {{ project.nom }}</a
      >
      <a
        v-if="project.website_link"
        v-bind:href="project.website_link"
        class="link"
        >Aller à {{ project.nom }}</a
      >

      <p class="date">{{ project.date }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Project",
  props: {
    project: { type: Object, require: true },
  },
  methods: {
    path: function (image) {
      return require("../assets/Projets/" + image);
    },
  },
};
</script>

<style scoped>
.standard {
  height: 50%;
  width: 50%;
}
.image {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.small {
  height: 25%;
  width: 25%;
}

.video {
  width: 1280px;
  height: 720px;
}
.project_description {
  display: flex;
  align-items: center;
  padding: 0px;
}

.informations {
  padding: 40px 10px 40px 40px;
  font-size: 37px;

  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  word-spacing: 1px;
  white-space: pre-line;
}

.context {
  line-height: 1.2;
}

a {
  color: rgba(255, 255, 255, 0.664);
  text-decoration: none;
  font-size: 28px;
  text-align: center;
}

a:hover {
  color: white;
}

.date {
  font-size: 20px;
  font-style: italic;
}

@media (max-width: 1000px) {
  .project_description {
    flex-direction: column;
  }
  .standard {
    height: 100%;
    width: 100%;
  }
  .small {
    height: 50%;
    width: 50%;
  }
  .informations {
    justify-content: center;
    text-align: center;
    padding: 15px 2px 15px 15px;
    font-size: 23px;
  }
  .video {
    width: 280px;
    height: 155px;
  }
}
</style>
