<template>
  <div class="projects">
    <ProjectModal
      v-for="project in projects"
      :key="project.id"
      v-bind:project="project"
    />
  </div>
</template>

<script>
import ProjectModal from "./ProjectModal.vue";

export default {
  name: "Projects",
  props: {
    projects: { type: Array, require: true },
  },
  components: {
    ProjectModal,
  },
};
</script>

<style scoped>
.projects {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
</style>
