<template>
  <Thumbnail :project="project" @click="show_modal = true" />
  <Modal :show="show_modal" @close="show_modal = false">
    <template #header>
      <p class="title">{{ project.name }}</p>
    </template>
    <template #body>
      <Project :project="project" />
    </template>
    <template #footer>
      <button id="close-modal" @click="show_modal = false">
        Voir d'autres projets
      </button>
    </template>
  </Modal>
</template>

<script>
import Thumbnail from "./Thumbnail.vue";
import Modal from "./Modal.vue";
import Project from "./Project.vue";

export default {
  name: "ProjectModal",
  props: {
    project: { type: Object, require: true },
  },
  data() {
    return { show_modal: false };
  },
  components: {
    Thumbnail,
    Modal,
    Project,
  },
};
</script>

<style scoped>
.title {
  font-size: 50px;
  font-weight: bold;
}

#close-modal {
  border: None;
  color: rgba(255, 255, 255, 0.6);
  background: none;
  cursor: pointer;
}

#close-modal:hover {
  color: white;
}
@media (max-width: 1000px) {
  .title {
    font-size: 35px;
  }
}
</style>
