<template>
  <div class="random_projects">
    <ProjectModal
      class="project"
      :project="random_project(projects, 'Autres', index(projects['Autres']))"
    />
    <ProjectModal
      class="project"
      :project="random_project(projects, 'Dessin', index(projects['Dessin']))"
    />
    <ProjectModal
      class="project"
      :project="random_project(projects, '3D', index(projects['3D']))"
    />
  </div>
</template>

<script>
import ProjectModal from "./ProjectModal.vue";

export default {
  name: "RandomProjects",
  props: {
    projects: { type: Object, require: true },
  },
  components: {
    ProjectModal,
  },
  methods: {
    index: function (array) {
      return Math.floor(Math.random() * array.length);
    },
    random_project: function (array, category, index) {
      return array[category][index];
    },
  },
};
</script>

<style scoped>
.random_projects {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  background: rgba(0, 0, 0, 0.938);
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: transform 0.2s;
}

.project:hover {
  background: rgba(255, 0, 0, 0.938);
  -ms-transform: font-(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  cursor: pointer;
}
</style>
