<template>
  <div id="resume">
    <div class="block">
      <div class="introduction">
        <img src="../assets/photo_fond.jpg" />
        <p>{{ chrono["Présentation"][0] }}</p>
      </div>
    </div>

    <div class="block">
      <p class="title">Expériences professionnelles:</p>
      <div
        class="description"
        v-for="pro in chrono['Expériences Professionnelles']"
        :key="pro.id"
      >
        <p class="bold">{{ pro.job }}</p>
        <p class="standard">{{ pro.additional }}</p>
        <p class="italic">{{ pro.boss }}, {{ pro.period }}</p>
      </div>
    </div>

    <div class="block">
      <p class="title">Contrats réalisés en freelance:</p>
      <div
        class="description"
        v-for="freelance in chrono['Contrats réalisés en freelance']"
        :key="freelance.id"
      >
        <p class="bold">{{ freelance.job }}</p>
        <p class="standard">{{ freelance.additional }}</p>
        <p class="italic">{{ freelance.boss }}, {{ freelance.period }}</p>
      </div>
    </div>

    <div class="block">
      <p class="title">Participation à des évènements:</p>
      <div
        class="description"
        v-for="event in chrono['Événements']"
        :key="event.id"
      >
        <p class="bold">{{ event.event }}</p>
        <p class="italic">{{ event.date }}</p>
      </div>
    </div>

    <div class="block">
      <p class="title">Formation et diplômes:</p>
      <div
        class="description"
        v-for="diploma in chrono['Formation et diplômes']"
        :key="diploma.id"
      >
        <p class="bold">{{ diploma.diploma }}</p>
        <p class="standard">{{ diploma.additional }}</p>
        <p class="italic">
          {{ diploma.establishment }}, {{ diploma.place }},
          {{ diploma.date }}
        </p>
      </div>
    </div>

    <div class="skills block">
      <p class="title">Compétences:</p>
      <div class="list">
        <div
          class="skill"
          v-for="language in skills['Langages informatique']"
          :key="language.id"
        >
          <img class="skill_img" :src="path(language.image)" />
          <p class="skill_title">{{ language.name }}</p>
        </div>
      </div>
      <div class="list">
        <div
          class="skill"
          v-for="software in skills['Logiciels']"
          :key="software.id"
        >
          <img class="skill_img" :src="path(software.image)" />
          <p class="skill_title">{{ software.name }}</p>
        </div>
      </div>
    </div>

    <div class="block">
      <p class="title">Expérience à l'étranger:</p>
      <div
        class="description"
        v-for="abroad in chrono['Expérience étranger']"
        :key="abroad.id"
      >
        <p class="bold">{{ abroad.explaination }}</p>
        <p class="italic">{{ abroad.period }}</p>
      </div>
    </div>

    <!-- <div class="title"><p>Centres d'intérêts</p></div> -->
  </div>
</template>

<script>
import chrono_data from "../data/chronologie.js";
import skills_data from "../data/skills.js";

export default {
  name: "Resume",
  data() {
    return {
      chrono: chrono_data,
      skills: skills_data,
    };
  },
  methods: {
    path: function (image) {
      return require("../assets/CV/Compétences/" + image);
    },
  },
};
</script>

<style scoped>
#resume {
  color: black;
  margin: 0px;
  padding: 35px 10px 20px 10px;
  background: rgba(255, 255, 255, 0.479);

  display: flex;
  flex-direction: column;
  align-items: center;

  word-spacing: 1px;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  padding-top: 0px;
  margin: 10px;
  width: 70%;
}

.bold {
  font-size: 36px;
  margin: 0px;
  font-weight: bold;
}
.italic {
  font-size: 22px;
  font-style: italic;
  margin: 0px;
}
.standard {
  font-size: 27px;
  margin: 0px;
}

.introduction {
  font-size: 38px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 5%;
  margin: 20px;
}

img {
  width: 250%;
}

.title {
  padding: 0px;
  margin-bottom: 10px;

  font-size: 55px;
  font-weight: bold;
}
.skill {
  margin: 5px;
}

.skills {
  margin-top: 2vw;
  padding-bottom: 2vw;
}

.list {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  font-size: 15px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.skill {
  margin: 10px;
  padding-top: 10px;
  width: 100px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skill_img {
  height: 80px;
  width: 80px;
  object-fit: contain;
  padding: 5px;
}

.skill_title {
  margin: 0;
}

@media (max-width: 1000px) {
  .introduction {
    flex-direction: column;
    font-size: 27px;
  }
  img {
    width: 100%;
  }
  .title {
    font-size: 38px;
  }
}
</style>
