<template>
  <div class="project">
    <p class="title">
      {{ project.name }}
    </p>
    <img :src="path(project.thumbnail)" />
  </div>
</template>

<script>
export default {
  name: "Thumbnail",
  props: {
    project: { type: Object, require: true },
  },
  methods: {
    path: function (image) {
      return require("../assets/Miniatures/" + image);
    },
  },
};
</script>

<style scoped>
.project {
  background: rgba(0, 0, 0, 0.938);
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform 0.2s;
}

.project:hover {
  background: rgba(255, 0, 0, 0.938);
  -ms-transform: font-(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  cursor: pointer;
}

.title {
  position: absolute;
  font-size: 35px;
  font-weight: bold;
  z-index: 1;
  width: 310px;
  color: rgba(255, 255, 255, 0);
  transition: 0.3s;
}

.title:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.719);
}

img {
  width: 310px;
  height: 310px;
}
</style>
