<template>
  <Banner />
  <Home class="space" v-if="is_page('Home')" />
  <About class="space" v-if="is_page('À propos')" />
  <Resume class="space" v-if="is_page('CV')" />
  <Contacts class="space" v-if="is_page('Contact')" />
  <Portfolio class="space" />
  <Footer v-if="!is_page('Contact')" />
</template>

<script>
import Banner from "./components/Banner.vue";
import Home from "./components/Home.vue";
import Resume from "./components/Resume.vue";
import Portfolio from "./components/Portfolio.vue";
import About from "./components/About.vue";
import Contacts from "./components/Contacts.vue";
import Footer from "./components/Footer.vue";

export default {
  name: "App",
  components: {
    Banner,
    Home,
    Resume,
    Portfolio,
    About,
    Contacts,
    Footer,
  },
  methods: {
    is_page: function (page) {
      return this.$store.state.page == page;
    },
  },
};
</script>

<style>
* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Aladin";
  src: url("./fonts/Aladin-Regular.ttf") format(‘truetype’);
  font-family: "Lato";
  src: url("./fonts/Lato/LATO-REGULAR.TTF") format(‘truetype’);
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Lato", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
  color: white;
}

.space {
  padding-top: 5%;
}

@media (max-width: 1000px) {
  #app {
    font-size: 20px;
  }
}
</style>
